/*ADD SOME STYLE TO SITE HEADER SIDE*/

.siteHeader {
                width:100vw;
                height:15vh;
                color: lightskyblue;
                text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
                background-image: url("./assets/img/bgimg.png");
                background-repeat: repeat;
            }
/*ADD SOME STYLE TO SITE FOOTER SECTION*/
.siteFooter {
                width:100vw;
                height: auto;
            }

.myFooterText  {
                 color: rgba(141, 84, 31, 0.705);
                 font-weight:bold;
                }